<nav class="pagination" role="navigation" aria-label="Pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="pagination-link newer-posts" href="{{ site.baseurl }}/" title="Previous Page">
        &laquo; Newer
      </a>
    {% else %}
      <a class="pagination-link newer-posts" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Previous Page">
        &laquo; Newer
      </a>
    {% endif %}
  {% endif %}
  <span class="page-number">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a class="pagination-link older-posts" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Next Page">
      Older &raquo;
    </a>
  {% endif %}
</nav>
